body {
    display: flex;
    background-color: #e8e8e8;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
.calculator {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 0.375rem;
    width: 190px;
    height: 300px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 10px;
  }
  
  .output {
    border: 1px solid #989797;
    background-color: #d1cccc;
    border-radius: 0.375rem;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
  }
  
  .result {
    font-size: 20px;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    border: none;
    border-radius: 0.375rem;
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  button:active {
    background-color: #ccc;
  }
  .bg-green {
    background-color: rgba(0, 177, 29, 0.651);
    color: white;
  }
  
  .bg-green:hover {
    background-color: rgba(0, 231, 39, 0.651);
    color: white;
  }
  
  .bg-red {
    background-color: rgba(223, 4, 4, 0.651);
    color: white;
  }
  
  .bg-red:hover {
    background-color: rgba(255, 1, 1, 0.651);
    color: white;
  }